<section>

	{{#if (eq wizard.currentStep 1)}}
		<fieldset>
			<legend>Informazioni personali</legend>
			{{> systems/ultima-legends/templates/app/parts/charactermancer-identity.hbs }}
		</fieldset>
	{{/if}}

	{{#if (eq wizard.currentStep 2)}}
		<div class="form-group">
			<label for="system.level.exp">Esperienza</label>
			<input type="number" name="system.level.exp" id="system.level.exp" placeholder="Esperienza di partenza" />
		</div>
	{{/if}}

	{{#if (eq wizard.currentStep 3)}}
		<p>Esperienza: {{formData.system.level.exp}}</p>
		<p>Classe: {{formData.system.class}}</p>
	{{/if}}

</section>