<section>

	{{#if (eq wizard.currentStep 1)}}
		<p>Benvenuto nel Charactermancer di Ultima Legends! Segui i passaggi per creare il tuo personaggio.</p>
		<div class="scrollable">
			<fieldset>
				<legend>Informazioni personali</legend>
				{{> systems/ultima-legends/templates/app/parts/charactermancer-identity.hbs }}
			</fieldset>
		</div>
	{{/if}}

	{{#if (eq wizard.currentStep 2)}}
		<p>Scegli due o tre Classi e distribuisci tra loro i cinque livelli iniziali.</p>
		<div class="scrollable">
			<fieldset>
				<legend>Classi</legend>
				{{> systems/ultima-legends/templates/app/parts/charactermancer-classes.hbs }}
			</fieldset>
		</div>
	{{/if}}

	{{#if (eq wizard.currentStep 3)}}
		<p>Scegli le abilità per il tuo personaggio.</p>
		<div class="scrollable">
			{{> systems/ultima-legends/templates/app/parts/charactermancer-skills.hbs }}
		</div>
	{{/if}}

</section>