<div class="form-fields">
    <input type="text" value="{{item.name}}" readonly />
    <a class="button" data-uuid="{{item.uuid}}" data-link>
        Apri
    </a>
    <a class="button" data-action="removeGrantedSkill" data-index="{{index}}">
        <i class="fa fa-trash"></i>
    </a>
</div>