<p>
	<strong>Tuttofare:</strong> d8, d8, d8, d8
	<br>
	<strong>Nella Media:</strong> d10, d8, d8, d6
	<br>
	<strong>Specializzato:</strong> d10, d10, d6, d6
</p>

<div class="form-group">
	<label for="system.attributes.dex.base">Destrezza (DES)</label>
	<select name="system.attributes.dex.base" id="system.attributes.dex.base">
		{{selectOptions ULTIMA.attributesDice selected=formData.system.attributes.dex.base localize=true}}
	</select>
</div>

<div class="form-group">
	<label for="system.attributes.ins.base">Intuito (INT)</label>
	<select name="system.attributes.ins.base" id="system.attributes.ins.base">
		{{selectOptions ULTIMA.attributesDice selected=formData.system.attributes.ins.base localize=true}}
	</select>
</div>

<div class="form-group">
	<label for="system.attributes.mig.base">Vigore (VIG)</label>
	<select name="system.attributes.mig.base" id="system.attributes.mig.base">
		{{selectOptions ULTIMA.attributesDice selected=formData.system.attributes.mig.base localize=true}}
	</select>
</div>

<div class="form-group">
	<label for="system.attributes.wlp.base">Volontà (VOL)</label>
	<select name="system.attributes.wlp.base" id="system.attributes.wlp.base">
		{{selectOptions ULTIMA.attributesDice selected=formData.system.attributes.wlp.base localize=true}}
	</select>
</div>